@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b1d7ea;
  --secondary-color: #c1672a;
  --tertiary-color: #1c1a1a;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f9;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  background: rgb(207, 207, 207);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
  cursor: pointer;
}

.glass-shadow {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.gradient-bg {
  background: #82c071;
  background: linear-gradient(155deg, #82c071 0%, #c1e9b6 100%);
}
